if SHIELD_CORNE_DONGLE

config ZMK_KEYBOARD_NAME
    default "Corne"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

config ZMK_USB 
    default y

endif # SHIELD_CORNE_DONGLE

if SHIELD_CORNE_DONGL || SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif # SHIELD_CORNE_DONGL || SHIELD_CORNE_LEFT || SHIELD_CORNE_RIGHT
